<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307788154487-jov1t7slh0092cf05p5jnqrdlivt4528.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307788154487-jov1t7slh0092cf05p5jnqrdlivt4528</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>307788154487-4bmc3361bt3j6en0bshr9ekcrsuafve8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrNQNqvUYuaaqwh2RD-0ziuk22I_YU_dU</string>
	<key>GCM_SENDER_ID</key>
	<string>307788154487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>grocery-43346</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-43346.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307788154487:ios:6a2dfcbb318f2834eb2872</string>
</dict>
</plist>